<h1 class='text-center my-3'>Edición</h1>

<%= render 'form', marker: @marker %>

<%= link_to 'Mostrar', @marker, class: 'btn btn-primary mt-3' %>
<%= link_to 'Volver', markers_path, class: 'btn btn-primary mt-3' %>
