<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type.name.capitalize %>
</p>

<%= link_to 'Editar', edit_type_path(@type), class: 'btn btn-primary' %>
<%= link_to 'Volver', types_path, class: 'btn btn-primary' %>
